html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button {
  padding: 0.5rem 4rem;
  font-size: large;
  align-content: center;
}

.div-center-align {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.player-area {
  display: flex;
  text-align: center;
}

.p-area {
  background-color: #5998c5;
  height: 20rem;
  flex-grow: 1;
}

.q-area {
  background-color: #ff5400;
  flex-grow: 1;
}
